body {
  padding-left: 1%;
  background-image: url('../images/faded-pomodoro-timer_600.jpg');
}

#timer {
  font-size: 1800%;
}

#start {
  font-size: 500%;
}

#break {
  font-size: 500%;
  display: none;
}

#pause {
  font-size: 150%;
  background-color: darkorange;
}

#reset {
  font-size: 150%;
  background-color: red;
}

#set-timer {
  font-size: 150%;
}
